/*___________________________ TITRE ________________________*/

.titre {
	color: #0c6;
}
.stitre {
	color: #0c6;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #efe;
	border: 2px solid #0c6; 
}
