/*___________________________ TITRE ________________________*/

.titre {
	color: #e73;
}
.stitre {
	color: #e73;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #fed;
	border: 2px solid #e73; 
}
