/*___________________________ TITRE ________________________*/

.titre {
	color: #400080;
}
.stitre {
	color: #400080;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #F7EFFF;
	border: .1em solid #400080; 
}
