/*___________________________ TITRE ________________________*/

.titre {
	color: #f00;
}
.stitre {
	color: #f00;
}


/*___________________________ CENTRAL ________________________*/


.central {
	background: #ffe;
	border: 2px solid #f00; 
}
