/*___________________________ TITRE ________________________*/

.titre {
	color: #0aa;
}
.stitre {
	color: #0aa;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #eff;
	border: 2px solid #0aa; 
}