body{
	margin: 0;
	padding:0;
	/*scrollbar-face-color: #f3f3cd;
	scrollbar-highlight-color: #fffee0;
	scrollbar-shadow-color: #c0ba02;
	scrollbar-3dlight-color: #fefdd0;
	scrollbar-arrow-color: #c0c000;
	scrollbar-track-color: #ffffe0;
	scrollbar-darkshadow-color: #a09000;*/
	background-color : #ffffe0;
	text-align:center;
}
#container {
	text-align:left;
	width: 900px;
	padding: 0;
	margin: 0 auto;
	background-color : #ffffe0;
	position: relative;
}
#titre{
	margin-top: 10px;
	height: 40px;
	color: #ff4090;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 240%;
	font-weight: bolder;
	text-align: center;
	background-color: transparent;
}
#texte {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	width: 650px;
	padding: 0px;
	background: #fff0f8;
	color: #000000;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	border-style: dotted;
	border-color: #ff4090;
	border-width: 2px;
}
#texte .contenu {
	padding: 10px;
	background: #fff0f8;
	color: #000000;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

#fermeture{
	text-align: center;
}
/*sup{font-family: Trebuchet MS, Verdana, Arial,Helvetica,sans-serif;
 	font-size:11px;
 	color:#000000;
 	vertical-align:super;
 }
sub{font-family: Trebuchet MS, Verdana, Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#000000;
	vertical-align:sub;
}
hr{color: #c0c000;}
h1{font-family: Trebuchet MS, Verdana, Arial,Helvetica,sans-serif;
	font-size:20px;
	color:#04690E;
	font-weight:bold;
	text-align:center;
	text-decoration:none}
.contenu{font-family: Trebuchet MS, Verdana, Arial,Helvetica,sans-serif;
	font-size:13px;
	background:#ffffe0;
	color:#000000;}
td{font-family: Trebuchet MS, Verdana, Arial,Helvetica,sans-serif;
	font-size:13px;
	color:#000000;}
.info{font-family: Trebuchet MS, Verdana, Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#000000;
	text-align:center;
	text-decoration:none}
a:link{color:#a0a000;text-decoration:none;}
a:visited{color:#606000;text-decoration:none;}
a:active{color:#808000;text-decoration:none;}
a:hover{text-decoration:underline;}*/