#container{
	width : 680px;
}
#titre{
	margin-top: 10px;
	height: 50px;
	color: #e0b000;
}
#texte {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 680px;
	padding: 0px;
	border-style: dotted;
	border-color: #e0b000;
	border-width: 2px;
}
#texte .contenu {
	padding: 0px;
	background: #fff8d0;
	color: #000000;
}

#fermeture{
	text-align: center;
}
