/*___________________________ TITRE ________________________*/

.titre {
	color: #f39;
}
.stitre {
	color: #f39;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #fef;
	border: 2px solid #f39; 
}
