/*___________________________ TITRE ________________________*/

.titre {
	color: #06f;
}

.stitre {
	color: #06f;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #f4f4ff;
	border: 2px solid #06f; 
}