/*___________________________ TITRE ________________________*/

.titre {
	color: #eb0;
}
.stitre {
	color: #eb0;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #ffd;
	border: 2px solid #eb0; 
}
