/*___________________________ TITRE ________________________*/

.titre {
	color: #c3f;
}
.stitre {
	color: #c3f;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #fff8ff;
	border: 2px solid #c3f;
}
