/*___________________________ TITRE ________________________*/

.titre {
	color: #6c0;
}
.stitre {
	color: #6c0;
}

/*___________________________ CENTRAL ________________________*/

.central {
	background: #efffe0;
	border: .1em solid #6c0; 
}
