/*___________________________ TITRE ________________________*/

.titre {
	color: #d90;
}
.stitre {
	color: #d90;
}
/*___________________________ CENTRAL ________________________*/

.central {
	background: #fcf7e0;
	border: 2px solid #d90;
}
